/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*========== Root/Body Section ==========*/
:root {
    --header-bg-color: #333;

    --light-bg-color: #FAEBEFFF;
    --dark-bg-color: #333D79FF;

    /*font size               min   preferred max   */
    --title-font-size:  clamp(10px, 2vw,      300px);
    --others-font-size: clamp(8px,  1.5vw,    50px);
}
body {
    margin: 0;
    padding: 0;

    font-family: "Oswald", serif;
}

* {
    box-sizing: border-box;
}