/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*========== Root/Body Section ==========*/
:root {
    --header-bg-color: #333;

    --light-bg-color: #FAEBEFFF;
    --dark-bg-color: #333D79FF;

    /*font size               min   preferred max   */
    --title-font-size:  clamp(10px, 2vw,      300px);
    --name-font-size:   clamp(35px, 5vw,      400px);
    --others-font-size: clamp(8px,  1.5vw,    50px);
}
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", serif;
}

* {
    box-sizing: border-box;
}

/*========== Header/Navbar Section ==========*/
header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 10vh;
    min-height: fit-content;
    background-color: #333;
    color: white;
    z-index: 99999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}
header h1 {
    margin: 1%;
    font-size: var(--title-font-size);
    white-space: nowrap;
}