/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*========== Root/Body Section ==========*/
:root {
    --header-bg-color: #333;

    --light-bg-color: #FAEBEFFF;
    --dark-bg-color: #333D79FF;

    /*font size               min   preferred max   */
    --title-font-size:  clamp(30px, 2vw,      300px);
    --name-font-size:   clamp(35px, 5vw,      400px);
    --others-font-size: clamp(30px, 1.5vw,    300px);
}
body {
    margin: 0;
    padding: 0;

    font-family: "Oswald", serif;
}

* {
    box-sizing: border-box;
}

/*========== Header/Navbar Section ==========*/
header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 10vh;

    background-color: #333;
    color: white;
    z-index: 99999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
header h1 {
    margin: 1%;
    font-size: var(--title-font-size);
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 10px;
}
nav ul {
    list-style-type: none; /* Remove bullet points */
    display: flex;
    padding: 0;
    margin: 0;
}
nav li {
    height: 100%;
    padding: 0 10px;
    /* margin-right: 20px; */
    display: flex;
    align-items: center;

    border: 1px solid black;
}
nav li:hover {
    cursor: pointer;
    background-color: aliceblue;
}
nav img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    object-fit: contain;
}